
<!-- Header -->
<div class="container">
    <div class="header row">
        <div class="logo span4">
            <h1><a href="">DailyGrub.com</a>
        </div>
        <div class="call-us span8">
            <p>Tel: <span>(800) 755-GRUB</span> | Email: <span>eat@DailyGrub.com</span></p>
        </div>
    </div>
</div>

<!-- <center><h1>Local Meal Deals Delivered Directly to your inbox or mobile device</h1></center> -->

<!-- Coming Soon -->
<div class="coming-soon">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h2></h2>
                    <br>
                    <br>
                    <h2></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content -->
<div class="container">
    <div class="row">
        <div class="span12 subscribe">
            <h1>Welcome to Daily Grub</h1><br>
            <h2>Drive local customers to your restaurant on the days and times of your choosing</h2>
            <!-- <form class="form-inline" action="/api/users" method="post">
                <input type="text" name="userfirstname" placeholder="First Name...">
                                <input type="text" name="userlastname" placeholder="Last Name...">
                <input type="text" name="useremail" placeholder="Email...">
                <input type="text" name="usermobile" placeholder="Mobile number...">
                <input type="text" name="userzipcode" placeholder="Zip Code...">
                <br>
                <button type="submit" class="btn">Subscribe</button>
            </form>
            <div class="success-message"></div>
            <div class="error-message"></div> -->
        </div>
    </div>
    <div class="row">
        <div class="span12 social">
            <a href="https://www.facebook.com/dailygrubdeal/" class="facebook" rel="tooltip" data-placement="top" data-original-title="Facebook"></a>
            <a href="https://twitter.com/DailyGrubDeal" class="twitter" rel="tooltip" data-placement="top" data-original-title="Twitter"></a>
        </div>
    </div>
</div>
